.jumbotron {
  background-image: url('../../../../assets/peliculasapp.jpg');
  background-position: center;
  background-size: cover;
  color:white;

  h1 {
    background-color: rgba(0,0,0,0.75);
    padding: 1em;
  }
}
