<div *ngIf="loading" class="mb-4">
  <i class="fas fa-spinner fa-spin fa-fw"></i> Cargando...
</div>

<div *ngIf="!loading" class="mb-4">
  <header
    [ngStyle]="{'background-image':'url(' + (movie.backdrop_path ? tmdbImageBaseUrl + tmdbBackdropSize + movie.backdrop_path : noBackdropUrl) + ')'}">
    <div class="movie-title">
      <h1>{{movie.title}} <small>({{date.getFullYear()}})</small></h1>
    </div>
  </header>

  <hr/>

  <main>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="movie-details">
          <div class="movie-detail">
            <strong>Título original:</strong>
            <span>{{movie.original_title}}</span>
          </div>
          <hr />
          <div class="movie-detail">
            <strong>Fecha de lanzamiento original:</strong>
            <span>{{movie.release_date | date:'dd/MM/yyyy'}}</span>
          </div>
          <hr />
          <div class="movie-detail">
            <strong>Duración:</strong>
            <span>{{movie.runtime | hMin}}</span>
          </div>
          <hr />
          <div class="movie-detail">
            <strong>Géneros:</strong>
            <span *ngFor="let genre of movie.genres">
              {{genre.name}}
            </span>
          </div>
          <hr />
          <div class="movie-detail">
            <strong *ngIf="movie.spoken_languages.length == 1">Idioma:</strong>
            <strong *ngIf="movie.spoken_languages.length > 1">Idiomas:</strong>
            <span *ngFor="let spokenLanguage of movie.spoken_languages">
              {{spokenLanguage.name}}
            </span>
          </div>
          <hr/>
          <div class="movie-detail">
            <strong *ngIf="movie.production_countries.length == 1">País:</strong>
            <strong *ngIf="movie.production_countries.length > 1">Países:</strong>
            <span *ngFor="let productionCountry of movie.production_countries">
              {{productionCountry.name}}
            </span>
          </div>
          <hr />
          <div class="movie-detail">
            <strong *ngIf="movie.production_companies.length == 1">Compañía productoras:</strong>
            <strong *ngIf="movie.production_companies.length > 1">Companías productoras:</strong>
            <span *ngFor="let productionCompany of movie.production_companies">
              {{productionCompany.name}}
            </span>
          </div>
          <hr/>
          <div class="movie-detail">
            <strong>Presupuesto (USD):</strong>
            <span>{{movie.budget | currency:'USD'}}</span>
          </div>
          <hr/>
          <div class="movie-detail">
            <strong>Recaudación mundial (USD):</strong>
            <span>{{movie.revenue | currency:'USD'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="movie-description">
          <p>{{movie.overview}}</p>
        </div>
        <hr/>
        <div class="movie-video">
          <div *ngIf="!videoEmbed">
            <img src="https://via.placeholder.com/750x400?text=No+hay+video+disponible" class="img-fluid"/>
          </div>
          <div *ngIf="videoEmbed">
            <div class="embed-responsive embed-responsive-16by9">
              <div [innerHTML]="videoEmbed">

              </div>
            </div>
          </div>
        </div>
        <hr />

      </div>
      <div class="col-md-3 col-sm-12">
        <aside>
          <div class="movie-links">
            <div *ngIf="movie.imdb_id">
              <a href="{{imdbTitleUrl + movie.imdb_id}}" class="btn btn-primary btn-block mb-2" target="_blank">
                <i class="fab fa-imdb fa-fw"></i> IMDB
              </a>
            </div>
            <div *ngIf="movie.homepage">
              <a [href]="movie.homepage" class="btn btn-primary btn-block" target="_blank">
                <i class="fas fa-globe fa-fw"></i> Página web
              </a>
            </div>
          </div>
          <hr />
          <div class="movie-rankings">
            <ngb-rating [rate]="movie.vote_average" [readonly]="true"></ngb-rating>
            | <strong>{{movie.vote_average | vote}}</strong>
            <br />
            <small>Basado en {{movie.vote_count}} votos</small>
          </div>
          <hr />
          <div class="movie-poster">
            <img src="{{movie.poster_path ? tmdbImageBaseUrl + tmdbImageSize +  movie.poster_path : noPosterUrl}}"
              title="{{'Poster de ' + movie.title}}" class="img-fluid" />
          </div>
          <hr/>
        </aside>
      </div>
    </div>
  </main>
</div>

<button class="btn btn-primary btn-block" [routerLink]="['/home']">
  <i class="fas fa-chevron-circle-left"></i> Volver al Home
</button>
