<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" [routerLink]="['/']">
    PeliculasApp
  </a>
  <form class="form-inline ml-auto">
    <div class="form-group">
      <div class="input-group">
         <input class="form-control" type="search" placeholder="Título" />
         <div class="input-group-append">
           <button class="btn btn-outline-secondary">
             <i class="fas fa-search fa-fw"></i>
           </button>
         </div>
      </div>
    </div>
  </form>
</nav>
