<div class="row">
  <div class="col-md-3 col-sm-12">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item" *ngFor="let year of years">
        <a class="nav-link" href="#" [class.active]="year == currentYear" (click)="selectYear(year)">
          {{year}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="text-center">
      <div class="btn-group" role="group">
        <button type="button" class="btn" *ngFor="let category of categories"
          [class.btn-primary]="category == currentCategory" (click)="selectCategory(category)">
          {{category}}
        </button>
      </div>
    </div>

    <hr/>

    <div *ngIf="loading">
      <p class="text-center"><i class="fas fa-spinner fa-spin fa-fw"></i> Cargando...</p>
    </div>

    <div *ngIf="!loading">
      <div class="row">
        <div class="col-md-4 col-sm-12 mb-4" *ngFor="let movie of movies">
          <app-pelicula-result [movie]="movie">
          </app-pelicula-result>
        </div>
      </div>
    </div>
  </div>
</div>
