<div class="row">
  <div class="col-md-3 col-sm-12">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home/year', 2019]" [routerLinkActive]="['active']">
          2019
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home/year', 2018]" [routerLinkActive]="['active']">
          2018
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home/year', 2017]" [routerLinkActive]="['active']">
          2017
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home/year', 2016]" [routerLinkActive]="['active']">
          2016
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home/year', 2015]" [routerLinkActive]="['active']">
          2015
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home/bestof']" [routerLinkActive]="['active']">
          Mejores
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="text-center">
      <ul class="nav d-flex justify-content-center nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/home/popular']" [routerLinkActive]="['active']">
            Populares
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/home/kids']" [routerLinkActive]="['active']">
            Niños
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/home/nowplaying']" [routerLinkActive]="['active']">
            En cines
          </a>
        </li>
      </ul>
    </div>

    <hr />

    <router-outlet></router-outlet>

  </div>
</div>
